
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
            <center>About Us</center>
            <p><blockquote>Designing a website can be a bit like being a kid and inheriting a sweetshop. It's easy to get carried away. There are so many choices. A website can be like an attic that never fills up. Space is not the problem. Attention is. 
               </blockquote></p>
    </div>
</body>
</html>
